.env
.venv
.envrc
**/__pycache__/

.git

.DS_Store

**/logs/
*.log
logs/

.trunk
.vscode
notebooks

.envrc
*.egg-info/

**/data/extracted/*
**/data/raw/*

data/**
!data/

.bmad
.claude
.vscode
.github/workflows/claude*
.github/commands/
.github/agents/
