include README.md
include LICENSE
include pyproject.toml
recursive-include shared_kernel_python *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * .git*
